annotated-types==0.7.0
anyio==4.9.0
bcrypt==4.3.0
click==8.2.1
colorama==0.4.6
fastapi==0.116.1
greenlet==3.2.3
h11==0.16.0
idna==3.10
passlib==1.7.4
pydantic==2.11.7
pydantic_core==2.33.2
sniffio==1.3.1
starlette==0.47.2
typing-inspection==0.4.1
typing_extensions==4.14.1
uvicorn==0.35.0
beanie==1.26.0
motor==3.4.0
python-jose[cryptography]
pymongo==4.5.0
email-validator==2.1.1
jinja2==3.1.4
mutagen==1.47.0
Pillow>=10.4.0
fastapi-limiter==0.1.5
redis<5.0.0
